@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';
.dark-mode-color {
    /* Dark mode text color */
    color: #FFFFFF !important;
  }
  
  .light-mode-color {
    /* Light mode text color */
    color: #000000 !important;
  }


  .text-light {
    color: #fff; /* Light text color */
  }
  
  .border-light {
    border-color: #fff; /* Light border color */
  }